.container {
	position: relative;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	background: linear-gradient(to right, #801ab2, #4c4cff);
}

.container::before {
	content: '';
	display: block;
	position: relative;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: black;
	border-radius: 50%;
}

.icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.75);
}

.restAmount {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
