.orderQueues {
	display: flex;
	gap: 56px;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
}

.orders {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-auto-flow: column;
	gap: 8px 16px;
	padding: 0;
	margin: 0;
}

.orderNumber {
	display: block;
}

.amount {
	text-shadow: 0 0 10px var(--colors-interface-accent);
}
