.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 720px;
	height: 718px;
	max-width: 100vw;
	max-height: 100vh;
	background-color: var(--color-modal-bg);
	border-radius: 40px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 0;
	padding: 40px;
}
