.item {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 40px;
	color: var(--text-primary-color);
	text-decoration: none;
}

.caption {
	display: block;
}

@media (max-width: 992px) {
	.caption {
		display: none;
	}
}
