.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 0;
	margin: 0;
	margin-right: 16px;
}

.empty {
	margin-right: 0;
	margin-left: 44px;
}

.ingredientPlaceholderContent {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
