:root {
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;

	--color-bg: #131316;
	--color-modal-bg: #1c1c21;
	--color-accent: #4c4cff;

	--header-height: 88px;
	--content-max-width: 1280px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-bg);
	min-width: var(--breakpoint-sm);
	overflow: auto hidden;
}

.main {
	position: relative;
	left: max(calc((100% - var(--content-max-width)) * 0.5), 0px);
	max-width: var(--content-max-width);
	display: flex;
	justify-content: space-between;
	gap: 48px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #8585ad #2f2f37;
}

@supports not selector(scrollbar-color) {
	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #8585ad;
		border-radius: 0;
		border: none;
	}

	::-webkit-scrollbar-track {
		background-color: #2f2f37;
		border-radius: 0;
	}

	::-webkit-scrollbar-button {
		display: none;
	}
}
