:root {
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;

	--color-bg: #131316;
	--color-modal-bg: #1c1c21;
	--color-accent: #4c4cff;

	--header-height: 88px;
	--content-max-width: 1280px;
	--bottom-page-space: 40px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-bg);
	min-width: var(--breakpoint-sm);
	overflow: hidden;
}

.main {
	position: relative;
	top: var(--header-height);
	max-height: calc(100vh - var(--header-height));
	height: calc(100vh - var(--header-height));
	max-width: 100vw;
	overflow: auto;
}

.dragHover {
	border: 1px solid var(--colors-interface-accent);
}

@media (max-width: 1280px) {
	.main-content {
		gap: 24px;
	}
}

@media (max-width: 992px) {
	.main-content {
		gap: 12px;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: #8585ad #2f2f37;
}

@supports selector(::-webkit-scrollbar) {
	* {
		scrollbar-width: unset !important;
		scrollbar-color: unset !important;
	}

	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #8585ad;
		border-radius: 0;
		border: none;
	}

	*::-webkit-scrollbar-track {
		background-color: #2f2f37;
		border-radius: 0;
	}

	*::-webkit-scrollbar-button {
		display: none;
	}
}

.flex-center {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: var(--text-inactive-color);
}

a svg {
	fill: var(--text-inactive-color);
}

a.active {
	color: var(--text-primary-color);
}

a.active svg {
	fill: var(--text-primary-color);
}

.login-container {
	flex-direction: column;
	gap: 0;
	min-width: 480px;
	min-height: 430px;
}

.login-action {
	display: flex;
	flex-direction: row;
	gap: 8px;
	flex-wrap: nowrap;
	align-items: center;
}
