.card {
	position: relative;
	min-width: 584px;
	border-radius: 40px;
	background-color: var(--color-modal-bg);
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.cardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.orderName {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.ingredients {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	--gap: 16px;
	margin: 0;
	margin-left: var(--gap);
	padding: 0;
}

.ingredient {
	display: block;
	margin: 0;
	margin-left: calc(-1 * var(--gap));
	padding: 0;
}

.orderCost {
	display: flex;
	justify-content: space-between;
}

.price {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
